@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap');

.wrapper {
  max-width: 500px;
  width: 90%;
  margin: 40px auto;
}

input {
  text-align: center;
}

.card {
  margin: 5px 10px;
  text-align: center;
}

.btn-gen {
  width: 100%;
}